<div class="container-lg">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a routerLink="/about-metro-tram">About Metro & Tram</a></li>
        </ol>
    </nav>
</div>

<div class="container-lg">
    <div class="grey-box mb-4">
        <div class="row gx-4">
            <div class="col-md-3">
                <div class="sidenav-mb d-block d-md-none">
                    <div class="dropdown">
                        <a class="btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        </a>

                        <ul class="tab-vertical flex-column border-0 dropdown-menu" id="myTab" role="tablist" aria-labelledby="dropdownMenuLink">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                    data-bs-target="#home" type="button" role="tab" aria-controls="home"
                                    aria-selected="true">About Metro & Tram</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="profile-tab" data-bs-toggle="tab"
                                    data-bs-target="#profile" type="button" role="tab" aria-controls="profile"
                                    aria-selected="false">Facts & Figures</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="contact-tab" data-bs-toggle="tab"
                                    data-bs-target="#contact" type="button" role="tab" aria-controls="contact"
                                    aria-selected="false">Careers</button>
                            </li>
                        </ul>
                      </div>
                </div>
                <div class="sidenav d-none d-md-block">
                    <h3 class="text-white">Metro & Tram</h3>

                    <ul class="nav nav-tabs tab-vertical flex-column border-0" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                data-bs-target="#home" type="button" role="tab" aria-controls="home"
                                aria-selected="true">About Metro & Tram</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="profile-tab" data-bs-toggle="tab"
                                data-bs-target="#profile" type="button" role="tab" aria-controls="profile"
                                aria-selected="false">Facts & Figures</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="contact-tab" data-bs-toggle="tab"
                                data-bs-target="#contact" type="button" role="tab" aria-controls="contact"
                                aria-selected="false">Careers</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="tab-content pe-md-3 ps-md-2" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h2 class="f20 text-white mb-3">About Metro & Tram</h2>
                        <h3 class="f16 text-yellow2">About Doha Metro</h3>
                        <p>The Doha Metro is a new, state-of-the art, best in class automated rail network,
                            running mostly underground and across the city of Doha. Doha metro will form the
                            backbone of Qatar’s integrated public transport system promoting usage of public
                            transport system in the country and key ingredient in the accomplishment of the
                            Qatar National Vision 2030. It is set to revolutionize the way people move around
                            Doha and its suburbs. It will serve most of the capital’s locations quickly and
                            conveniently, making it a far superior option to the private car.</p>
                        <p>We have focused on providing accessible stations with distinctive branding, signage,
                            and digital displays inside and outside the stations. We provide live real time
                            service updates, simple fare structure for our Travel Cards, as well as a handy
                            mobile app with all the information you will need when travelling with us. Doha
                            Metro is your answer to safe, convenient, affordable and stress-free travel around
                            the city of Doha.</p>
                        <h3 class="text-yellow2">The Network</h3>
                        <a href="javascript:void(0)">
                            <figure>
                                <img src="assets/images/placeholder/metro-network.webp"
                                    class="rounded img-fluid" alt="metro network">
                            </figure>
                        </a>
                        <p>Our metro network consists of three lines – Red, Green and Gold, with 37 stations.
                        </p>
                        <h3 class="f16 text-yellow2">The Red Line</h3>
                        <p>The Red Line runs for 40 kilometres from Al Wakra in the south to Lusail in the
                            north. This line also connects Hamad International Airport at Terminal 1 to the
                            centre of the city. It has 17 currently active stations (Legtaifiya will open next
                            year), notably West Bay QIC, Katara and Qatar University. The Red Line has two
                            interchange stations for the metro lines – Al Bidda for interchanges between Red and
                            Green and Msheireb for interchanges between all three lines. It also provides
                            interchange stations between the Metro and Tram with Legtaifiya (opening next year)
                            and Lusail QNB.</p>
                        <h3 class="f16 text-yellow2">The Green Line</h3>
                        <p>The Green Line runs east from Al Mansoura to Al Riffa in the west. There are eleven
                            stations along the line with notable stops being Education City, Hamad Hospital, Al
                            Shaqab and Qatar National Library.</p>
                        <h3 class="f16 text-yellow2">The Gold Line</h3>
                        <p>The east to west Gold Line extends from Ras Bu Aboud to Al Aziziyah. Eleven stations
                            run along the Gold Line, with stops at the Qatar National Museum, Souq Waqif, Sport
                            City (for Khalifa International Stadium) and Al Aziziyah (for Villaggio Mall).</p>
                        <h3 class="f16 text-yellow2">About Lusail Tram </h3>
                        <a href="javascript:void(0)">
                            <figure>
                                <img src="assets/images/placeholder/tram-network.webp" class="rounded img-fluid"
                                    alt="tram network">
                            </figure>
                        </a>
                        <p>Lusail Tram is a tram service for convenient travel within the new city of Lusail,
                            The network includes four lines and 25stations aboveground and underground. Lusail
                            Tram connects to the Doha Metro through two interchange stations at Lusail and
                            Legtaifiya.</p>
                        <p>Trams are greener and cope better with traffic than buses. They are also much more
                            efficient in terms of road usage as one train replaces about 40 cars which take up a
                            far larger area of road space.</p>
                        <p>Lusail tram will soon become the main transportation hub for visionary Lusail City
                            the largest single sustainable development to be undertaken in the State of Qatar.
                        </p>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <h2 class="f20 text-white mb-3">Facts & Figures</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae aperiam officia,
                            ducimus magnam reiciendis doloribus dolor at laborum suscipit doloremque. Rem veniam
                            harum quaerat porro, in deleniti ducimus consequuntur aliquid.</p>
                    </div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        <h2 class="f20 text-white mb-3">Careers</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate nesciunt,
                            aperiam praesentium obcaecati aspernatur tempora eos eum. Laborum quae ab
                            perferendis earum accusantium facere ipsa ipsam ipsum modi! Possimus, nostrum!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>