<div class="container-lg">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a routerLink="/faqs">FAQs </a></li>
        </ol>
    </nav>
</div>

<div class="container-lg">
    <div class="grey-box mb-4">
        <div class="row align-items-center justify-content-between">
            <div class="col-12 col-lg-3">
                <h2 class="f20 text-white mb-lg-0 mb-3">FAQs </h2>
            </div>
            <div class="col-12 col-lg-9">
                <form class="form-one" action="">
                    <div class="row justify-content-end">
                        <div class="col-lg-5">
                            <div class="mb-2">
                                <label for="search-location" class="visually-hidden">Search station</label>
                                <div class="form-search">
                                    <input type="text" class="form-control ps-5" id="search-location"
                                    placeholder="Search by station">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="mb-2">
                                <label for="filter" class="visually-hidden">Search station</label>
                                <select id="filter" class="form-select form-select-white form-control">
                                    <option value="0">Integrated transport</option>
                                    <option value="1">Metro</option>
                                    <option value="2">On-board</option>
                                    <option value="3">On-board</option>
                                    <option value="4">Travel card</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
        <div class="accordion accordian-box accordian-box-black  mt-4" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header mb-1" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Is parking free for Metro users?
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  test 1
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header mb-1" id="headingTwo">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    
                    What are the operating hours for Metro?
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Yes, the current parking areas are free. There are Doha Metro parking lots at Al Wakra, Al Qassar, Free Zone, Ras Bu Fontas and Qatar University stations.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header mb-1" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Can people not travelling on Metro visit the stations?
                </button>
              </h2>
              <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                <div class="accordion-body ">
                    test 2
              </div>
            </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header mb-1" id="headingFive">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Can people not travelling on the Metro use the bridges linked to the Metro stations?
                  </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    test 3
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header mb-1" id="headingSeven">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                    Is parking free for Metro users?
                  </button>
                </h2>
                <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    test 4
                  </div>
                </div>
              </div>

               <div class="accordion-item">
                <h2 class="accordion-header mb-1" id="headingEight">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                    What types of carriages are there on-board Metro trains?
                  </button>
                </h2>
                <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    test 5
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header mb-1" id="headingNine">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                    Where can I interchange between Metro lines?
                  </button>
                </h2>
                <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    test 6
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header mb-1" id="headingTen">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                    Are there ATMs at the stations?
                  </button>
                </h2>
                <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    test 7
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header mb-1" id="headingEleven">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                    How do I know which exit to take from a station?
                  </button>
                </h2>
                <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    test 8
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header mb-1" id="headingTwelve">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                    What happens if a service is cancelled?
                  </button>
                </h2>
                <div id="collapseTwelve" class="accordion-collapse collapse" aria-labelledby="headingTwelve" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    test 9
                  </div>
                </div>
              </div>
          </div>
        

    </div>
</div>