<div class="container-lg">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a routerLink="/news">News </a></li>
        </ol>
    </nav>
</div>

<div class="container-lg">
    <div class="grey-box mb-4">
        <div class="row align-items-center justify-content-between mb-3">
            <div class="col-12 col-lg-3">
                <h2 class="f20 text-white mb-lg-0 mb-3">News </h2>
            </div>
            <div class="col-12 col-lg-9">
                <form class="form-one" action="">
                    <div class="row justify-content-end">
                        <div class="col-lg-5">
                            <div class="mb-2">
                                <label for="search-location" class="visually-hidden">Search station</label>
                                <div class="form-search">
                                    <input type="text" class="form-control ps-5" id="search-location"
                                        placeholder="Search by keyword">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="mb-2">
                                <label for="filter" class="visually-hidden">Search station</label>
                                <select id="filter" class="form-select form-select-white form-control">
                                    <option value="0">Filter by category</option>
                                    <option value="1">Metro</option>
                                    <option value="2">On-board</option>
                                    <option value="3">On-board</option>
                                    <option value="4">Travel card</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-lg-8">
                <a href="#">
                    <figure class="fig-shadow mb-3 mb-lg-0 fig-hover">
                        <img src="assets/images/news-main.png" alt="news" class="img-fluid rounded w-100" />
                        <figcaption class="fig-wrapper fig-details">
                            <div class="date mb-2">01 Sept 2022</div>
                            <h3 class="line-clamp">Qatar Rail launches preview service for the Doha Metro Gold Line</h3>
                            <p class="line-clamp mb-0">Doha, Qatar,21st November, 2019 – Qatar Railways Company (Qatar Rail) has
                                announced the launch of its preview</p>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="#" class="d-block">
                    <figure class="mb-0 fig-hover">
                        <img src="assets/images/news-1.png" alt="news" class="img-fluid rounded w-100" />
                    </figure>
                    <figcaption class="fig-details">
                        <div class="date mb-2 mt-3">01 Sept 2022</div>
                        <h3 class="line-clamp">Qatar Rail launches preview service for the Doha Metro Gold Line</h3>
                        <p class="line-clamp mb-0">Doha, Qatar,21st November, 2019 – Qatar Railways Company (Qatar Rail) has
                            announced the launch of its preview</p>
                    </figcaption>
                </a>
            </div>
        </div>

        <div class="row g-4">
            <div class="col-lg-4">
                <a href="#" class="d-block">
                    <figure class="mb-0 fig-hover">
                        <img src="assets/images/news-2.png" alt="news" class="img-fluid rounded fig-size" />
                    </figure>
                    <figcaption class="fig-details">
                        <div class="date mb-2 mt-3">01 Sept 2022</div>
                        <h3 class="line-clamp">Qatar Rail launches preview service for the Doha Metro Gold Line</h3>
                        <p class="line-clamp mb-0">Doha, Qatar,21st November, 2019 – Qatar Railways Company (Qatar Rail) has
                            announced the launch of its preview</p>
                    </figcaption>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="#" class="d-block">
                    <figure class="mb-0 fig-hover">
                        <img src="assets/images/news-3.png" alt="news" class="img-fluid rounded fig-size" />
                    </figure>
                    <figcaption class="fig-details">
                        <div class="date mb-2 mt-3">01 Sept 2022</div>
                        <h3 class="line-clamp">Qatar Rail launches preview service for the Doha Metro Gold Line</h3>
                        <p class="line-clamp mb-0">Doha, Qatar,21st November, 2019 – Qatar Railways Company (Qatar Rail) has
                            announced the launch of its preview</p>
                    </figcaption>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="#" class="d-block">
                    <figure class="mb-0 fig-hover">
                        <img src="assets/images/metroexpress.png" alt="news" class="img-fluid rounded fig-size" />
                    </figure>
                    <figcaption class="fig-details">
                        <div class="date mb-2 mt-3">01 Sept 2022</div>
                        <h3 class="line-clamp">Qatar Rail launches preview service for the Doha Metro Gold Line</h3>
                        <p class="line-clamp mb-0">Doha, Qatar,21st November, 2019 – Qatar Railways Company (Qatar Rail) has
                            announced the launch of its preview</p>
                    </figcaption>
                </a>
            </div>
        </div>

        <div class="pagination-wrapper">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link active" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">4</a></li>
                  <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
              </nav>
        </div>
    </div>
</div>