<div class="container-lg">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item"><a routerLink="/login">Log in</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a routerLink="/forgot-password">Forgot password</a></li>
        </ol>
    </nav>
</div>

<div class="container-lg ">
<div class="position-relative">
<a routerLink="/login" role="button" type="button" class="btn back-btn position-absolute"></a>
</div>
    <div class="grey-box mb-5 py-0 py-md-5">
        <div class="row min-height1 justify-content-center align-items-center">
            <div class="col col-md-6 col-lg-6 col-xl-4">
                <h1 class="f25 text-yellow1 text-center">Forgot password</h1>
                <p class="text-center">Don’t worry! It happens. Type in the email address associated with your account</p>
                <form [formGroup]="formData" (ngSubmit)="handleSubmit()" class="text-white mt-4 pt-1">
                    <div class="mb-4">
                        <label for="userName" class="form-label">Email address</label>
                        <input formControlName="email"  type="text" class="form-control" [class.is-invalid]="errorObj['email']" id="userName" aria-describedby="User name"
                            placeholder="example@gmail.com">
                            @if (errorObj["email"] != "") {
                                <div id="validationServer03Feedback" class="invalid-feedback">
                                    {{errorObj["email"]}}
                                </div>
                            }
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>