
    
  
    <section class="container-lg">
      <div class="row">
        <div class="q-banner mb-5">
            <div id="heroBanner" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators" role="tablist">
                    <button type="button" data-bs-target="#heroBanner" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#heroBanner" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#heroBanner" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#heroBanner" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
            <picture>
              <source media="(max-width:767px)" class="img-fluid" srcset="assets/images/promotions-1.png">
              <img src="assets/images/banner/slider-1.jpg" class="d-block w-100" alt="slder">
            </picture>
                    </div>
                    <div class="carousel-item">
                        <picture>
              <source media="(max-width:767px)" class="img-fluid" srcset="assets/images/promotions-2.png">
              <img src="assets/images/banner/slider-2.jpg" class="d-block w-100" alt="slder">
            </picture>
                    </div>
                    <div class="carousel-item">
                        <picture>
              <source media="(max-width:767px)" class="img-fluid" srcset="assets/images/promotions-1.png">
              <img src="assets/images/banner/slider-1.jpg" class="d-block w-100" alt="slder">
            </picture>
                    </div>
                    <div class="carousel-item">
            <picture>
              <source media="(max-width:767px)" class="img-fluid" srcset="assets/images/promotions-2.png">
              <img src="assets/images/banner/slider-2.jpg" class="d-block w-100" alt="slder">
            </picture>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </section>
  
    <section class="container-lg">
      <div class="row">
        <div class="col-12 col-lg-7">
          
          <div class="text-white grey-box d-flex flex-column flex-sm-row mb-4">
            <h2 class="me-auto fs-5 d-flex align-items-center"><span class="icon travel"></span> Travel cards</h2> 
            <a href="" role="button" class="btn btn-primary me-0 me-sm-3 mb-sm-0 mb-2">Register</a>
            <a href="" role="button" class="btn btn-primary">Top up</a>
          </div>
  
          <div class="text-white grey-box mb-4">
            <h2 class="me-auto fs-5 d-flex align-items-center"><span class="icon info"></span> Travel status</h2> 
            <div class="row">
              <div class="col-12 col-md-auto d-flex align-items-center"><img src="assets/images/icons/metro-logo.svg" class="train-type" alt="metro logo"></div>
              <ul class="metro-status col">
                <li>
                  <a href="javascript:void(0)">
                    <figure>
                      <img src="assets/images/icons/metro-red-signal.svg" alt="metro logo">
                      <figcaption>Good <br>Service</figcaption>
                    </figure>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0)">
                    <figure>
                      <img src="assets/images/icons/metro-green-signal.svg" alt="metro logo">
                      <figcaption>Good <br>Service</figcaption>
                    </figure>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0)">
                    <figure>
                      <img src="assets/images/icons/metro-yellow-signal.svg" alt="metro logo">
                      <figcaption>Delayed <i class="fa fa-info-circle" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-placement="top" data-bs-title="Lorem ipsum dolor sit amet, consetetur sadipsci elitr, sed diam nonumy"></i></figcaption>
                    </figure>
                  </a>
                </li>
              </ul>
            </div>
            <div class="row">
              <div class="col-12 col-md-auto d-flex align-items-center"><img src="assets/images/icons/tram-logo.svg" class="train-type" alt="metro logo"></div>
              <ul class="metro-status col">
                <li>
                  <a href="javascript:void(0)">
                    <figure>
                      <img src="assets/images/icons/tram-yellow-signl.svg" alt="metro logo">
                      <figcaption>Good <br>Service</figcaption>
                    </figure>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0)">
                    <figure>
                      <img src="assets/images/icons/tram-blue-signl.svg" alt="metro logo">
                      <figcaption>Good <br>Service</figcaption>
                    </figure>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0)">
                    <figure>
                      <img src="assets/images/icons/tram-pink-signl.svg" alt="metro logo">
                    </figure>
                    <figcaption>
                      Good <br>Service
                    </figcaption>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0)">
                    <figure>
                      <img src="assets/images/icons/tram-green-signl.svg" alt="metro logo">
                    </figure>
                    <figcaption>
                      Good <br>Service
                    </figcaption>
                  </a>
                </li>
              </ul>
            </div>
          </div>
  
          <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
            <div class="col pb-4">
        <a href="javascript:void(0)">
        <!-- <div class="widget grey-box text-white h-100">
          <h2 class="me-auto fs-5 d-flex align-items-center"><span class="icon time"></span> First and last train</h2>
          <img src="assets/images/placeholder/train-list.jpg" class="rounded w-100" alt="train list">
        </div>  -->
        <div class="widget grey-box text-white h-100 d-flex flex-column">
          <h2 class="me-auto fs-5 d-flex align-items-center flex-shrink-0"><span class="icon time"></span>First and last train</h2> 
          <div class="flex-grow-1"><img src="assets/images/placeholder/train-list.jpg" class="rounded w-100 h-100 object-cover" alt="map"/></div>
        </div>
      </a>
            </div>
            <div class="col pb-4">
        <a href="javascript:void(0)">
          <!-- <div class="widget grey-box text-white h-100">
            <h2 class="me-auto fs-5 d-flex align-items-center"><span class="icon tram"></span> Network map</h2> 
            <img src="assets/images/placeholder/map-1.jpg" class="rounded w-100" alt="map">
          </div> -->
          <div class="widget grey-box text-white h-100 d-flex flex-column">
            <h2 class="me-auto fs-5 d-flex align-items-center flex-shrink-0"><span class="icon tram"></span> Network map</h2>
            <div class="flex-grow-1">
              <img src="assets/images/placeholder/map-1.jpg" class="rounded w-100 h-100" alt="map"/>
            </div>
            </div>
        </a>
            </div>
            <div class="col pb-4">
        <a href="javascript:void(0)">
              <!-- <div class="widget grey-box text-white h-100">
                <h2 class="me-auto fs-5 d-flex align-items-center"><span class="icon metro"></span> Network map</h2>
                  <img src="assets/images/placeholder/map-2.jpg" class="rounded w-100" alt="map">
              </div> -->
        <div class="widget grey-box text-white h-100 d-flex flex-column">
                <h2 class="me-auto fs-5 d-flex align-items-center flex-shrink-0"><span class="icon metro"></span> Network map</h2>
        <div class="flex-grow-1">
          <img src="assets/images/placeholder/map-2.jpg" class="rounded w-100 h-100 object-cover" alt="map"/>
        </div>
              </div>
      </a>
            </div>
          </div>
        </div>
  
        <div class="col-12 col-lg-5 pb-4">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-1 h-100">
        <div class="col pb-4">
          <div class="text-white grey-box h-100">
  
            <h2 class="h4"><span class="icon announcement"></span>Critical announcements </h2>
      
            <div id="announcements" class="announcements carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
              <div class="carousel-item active">
                <p>On 10 & 11 September, Doha metro serivce on the gold one will be replaced with alternative services. This is due to an ongoing programme of essential system upgrade across the network.</p>
                <p>Bus services is available instead of metro train from respective stations.</p>
              </div>
              <div class="carousel-item">
                <p>On 10 & 11 September, Doha metro serivce on the gold one will be replaced with alternative services. This is due to an ongoing programme of essential system upgrade across the network.</p>
                <p>Bus service is available instead of metro train from respective stations.</p>
              </div>
              <div class="carousel-item">
                <p>On 10 & 11 September, Doha metro serivce on the gold one will be replaced with alternative services. This is due to an ongoing programme of essential system upgrade across the network.</p>
                <p>Bus service is available instead of metro train from respective stations.</p>
              </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#announcements" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#announcements" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
              </button>
            </div>
            </div>
        </div>
        <div class="col">
          <div class="grey-box text-white mb-4 mb-lg-0 h-100">
            <h2 class="me-auto fs-5"><span class="icon journey"></span> Plan My Journey</h2> 
            <form class="form-one mt-3" action="">
              <div class="mb-2">
              <label for="start-point" class="sr-only">Start location</label>
              <input type="text" class="form-control" id="start-point" placeholder="Start - search/locate">
              </div>
              <div class="mb-3">
              <label for="end-point" class="sr-only">End location</label>
              <input type="text" class="form-control" id="end-point" placeholder="End - search/locate">
              </div>
              <a href="" role="button" class="btn btn-primary">Search</a>
            </form>
            </div>
        </div>
      </div>
        </div>
      </div>
    </section>
  
  
   
  
  
