<div class="container-lg">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a routerLink="/promotions">Promotions </a></li>
        </ol>
    </nav>
</div>

<div class="container-lg">
    <div class="grey-box mb-4">
        <h2 class="f20 text-white mb-4">Promotions </h2>
        
        <div class="row gy-4">
            <div class="col-lg-4">
                <a href="#" class="d-block">
                    <figure class="mb-0 fig-hover">
                        <img src="assets/images/promotions-1.png" alt="promotions" class="img-fluid rounded w-100" />
                    </figure>
                    <figcaption class="fig-details">
                        <div class="date mb-2 mt-2">01 Sept 2022</div>
                        <h3 class="line-clamp clamp-2">Doha Metro enters a new phase with a preview service for the first part of the Red Line</h3>
                    </figcaption>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="#" class="d-block">
                    <figure class="mb-0 fig-hover">
                        <img src="assets/images/promotions-2.png" alt="promotions" class="img-fluid rounded w-100" />
                    </figure>
                    <figcaption class="fig-details">
                        <div class="date mb-2 mt-2">01 Sept 2022</div>
                        <h3 class="line-clamp clamp-2">Doha Metro enters a new phase with a preview service for the first part of the Red Line</h3>
                    </figcaption>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="#" class="d-block">
                    <figure class="mb-0 fig-hover">
                        <img src="assets/images/promotions-3.png" alt="promotions" class="img-fluid rounded w-100" />
                    </figure>
                    <figcaption class="fig-details">
                        <div class="date mb-2 mt-2">01 Sept 2022</div>
                        <h3 class="line-clamp clamp-2">Doha Metro enters a new phase with a preview service for the first part of the Red Linee</h3>
                    </figcaption>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="#" class="d-block">
                    <figure class="mb-0 fig-hover">
                        <img src="assets/images/promotions-3.png" alt="promotions" class="img-fluid rounded w-100" />
                    </figure>
                    <figcaption class="fig-details">
                        <div class="date mb-2 mt-2">01 Sept 2022</div>
                        <h3 class="line-clamp clamp-2">Doha Metro enters a new phase with a preview service for the first part of the Red Linee</h3>
                    </figcaption>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="#" class="d-block">
                    <figure class="mb-0 fig-hover">
                        <img src="assets/images/promotions-2.png" alt="promotions" class="img-fluid rounded w-100" />
                    </figure>
                    <figcaption class="fig-details">
                        <div class="date mb-2 mt-2">01 Sept 2022</div>
                        <h3 class="line-clamp clamp-2">Doha Metro enters a new phase with a preview service for the first part of the Red Linee</h3>
                    </figcaption>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="#" class="d-block">
                    <figure class="mb-0 fig-hover">
                        <img src="assets/images/promotions-1.png" alt="promotions" class="img-fluid rounded w-100" />
                    </figure>
                    <figcaption class="fig-details">
                        <div class="date mb-2 mt-2">01 Sept 2022</div>
                        <h3 class="line-clamp clamp-2">Doha Metro enters a new phase with a preview service for the first part of the Red Linee</h3>
                    </figcaption>
                </a>
            </div>
        </div>

        <div class="pagination-wrapper">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link active" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">4</a></li>
                  <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
              </nav>
        </div>
    </div>
</div>