<div class="container-lg">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a routerLink="/metrolink">Metrolink</a></li>
        </ol>
    </nav>
</div>

<div class="container-lg">
    <div class="grey-box mb-4">
        <h2 class="f25 text-white mb-3">Metrolink</h2>
        <h3 class="f16 text-yellow2">Sub title</h3>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
            labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
            labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum. Stet clita kasd gubergren, no sea .
        </p>
        <p>WLorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
            labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            Lorem ipsum dolor sit.</p>
        <figure>
            <img src="assets/images/template-image.jpg" alt="template image" class="img-fluid rounded " />
        </figure>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
            labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
            labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum. Stet clita kasd gubergren, no sea .</p>
        <div class="row mt-4 mb-4 align-items-center">
            <div class="col-lg-8">
                <form class="form-one" action="">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-2">
                                <label for="search-area" class="visually-hidden ">Search station</label>
                                <div class="form-search">
                                    <input type="text" class="form-control ps-5" id="search-area"
                                        placeholder="Search stations, link, route, area">
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="mb-2">
                                <label for="filter" class="visually-hidden ">Filter by category</label>
                                <select class="form-select form-control form-select-white" aria-label="Filter select">
                                    <option selected>Filter by category</option>
                                    <option value="1">Option 1</option>
                                    <option value="2">Option 2</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4 text-lg-end">
                <a href="#" class="link">CLEAR FILTERS</a>
            </div>
        </div>

        <div class="metro-table table-responsive">
            <table class="table">
                <thead>
                    <th>Metro Station</th>
                    <th>Metrolink Route</th>
                    <th>Area(s) Served</th>
                    <th>Frequency</th>
                    <th class="width-2">Download Route</th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="d-flex align-items-center">
                                <figure class="mb-0 me-2 flex-shrink-0">
                                    <img src="assets/images/icons/metro-red-signal.svg" class="img-fluid w-18"
                                        alt="metro red signal" />
                                </figure>
                                <span class="text-white">Metro Station</span>
                            </div>
                        </td>
                        <td><span class="text-white">M145</span></td>
                        <td><span class="text-white">Doha festival city</span></td>
                        <td><span class="text-white">12 Minutes</span></td>
                        <td>
                            <a href="#" class="download-link">Download</a>
                        </td>
                    </tr>
                    <tr class="border-bottom table-row-bg">
                        <td rowspan="2" scope="row">
                            <div class="d-flex align-items-center">
                                <figure class="mb-0 me-2">
                                    <img src="assets/images/icons/metro-red-signal.svg" class="img-fluid w-18"
                                        alt="metro red signal" />
                                </figure>
                                <span class="text-white">Metro Station</span>
                            </div>
                        </td>
                        <td scope="row"><span class="text-white">M146</span></td>
                        <td><span class="text-white">Doha festival city</span></td>
                        <td><span class="text-white">12 Minutes</span></td>
                        <td>
                            <a href="#" class="download-link">Download</a>
                        </td>
                    </tr>
                    <tr class="table-row-bg">
                        <td scope="row"><span class="text-white">M147<small class="route-status">New</small></span></td>
                        <td><span class="text-white">Doha festival city</span></td>
                        <td><span class="text-white">12 Minutes</span></td>
                        <td>
                            <a href="#" class="download-link">Download</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex align-items-center">
                                <figure class="mb-0 me-2 flex-shrink-0">
                                    <img src="assets/images/icons/metro-green-signal.svg" class="img-fluid w-18"
                                        alt="metro red signal" />
                                </figure>
                                <span class="text-white">Metro Station</span>
                            </div>
                        </td>
                        <td><span class="text-white">M145</span></td>
                        <td><span class="text-white">Doha festival city</span></td>
                        <td><span class="text-white">12 Minutes</span></td>
                        <td>
                            <a href="#" class="download-link">Download</a>
                        </td>
                    </tr>
                    <tr class="table-row-bg">
                        <td>
                            <div class="d-flex align-items-center">
                                <figure class="mb-0 me-2 flex-shrink-0">
                                    <img src="assets/images/icons/metro-yellow-signal.svg" class="img-fluid w-18"
                                        alt="metro red signal" />
                                </figure>
                                <span class="text-white">Metro Station</span>
                            </div>
                        </td>
                        <td><span class="text-white">M145</span></td>
                        <td><span class="text-white">Doha festival city</span></td>
                        <td><span class="text-white">12 Minutes</span></td>
                        <td>
                            <a href="#" class="download-link">Download</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex align-items-center">
                                <figure class="mb-0 me-2 flex-shrink-0">
                                    <img src="assets/images/icons/metro-green-signal.svg" class="img-fluid w-18"
                                        alt="metro red signal" />
                                </figure>
                                <span class="text-white">Metro Station</span>
                            </div>
                        </td>
                        <td><span class="text-white">M145<small class="route-status">Temporarily suspended</small></span></td>
                        <td><span class="text-white">Doha festival city</span></td>
                        <td><span class="text-white">12 Minutes</span></td>
                        <td>
                            <a href="#" class="download-link">Download</a>
                        </td>
                    </tr>
                    <tr class="table-row-bg">
                        <td>
                            <div class="d-flex align-items-center">
                                <figure class="mb-0 me-2 flex-shrink-0">
                                    <img src="assets/images/icons/metro-red-signal.svg" class="img-fluid w-18"
                                        alt="metro red signal" />
                                </figure>
                                <span class="text-white">Metro Station</span>
                            </div>
                        </td>
                        <td><span class="text-white">M145</span></td>
                        <td><span class="text-white">Doha festival city</span></td>
                        <td><span class="text-white">12 Minutes</span></td>
                        <td>
                            <a href="#" class="download-link">Download</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <ul class="list-triangle mb-4">
            <li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                ut labore</li>
            <li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</li>
            <li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy </li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                ut labore</li>
        </ul>
    </div>
</div>