<div class="container-lg">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a routerLink="/retail-and-facilities">Retail & Facilities</a></li>
        </ol>
    </nav>
</div>

<div class="container-lg">
    <div class="grey-box mb-4">
        <div class="row align-items-center justify-content-between mb-3">
            <div class="col-12 col-lg-3">
                <h2 class="f20 text-white mb-lg-0 mb-3">Retail & Facilities </h2>
            </div>
            <div class="col-12 col-lg-9">
                <form class="form-one" action="">
                    <div class="row justify-content-start align-items-center">
                        <div class="col-xl col-lg-6 col-12">
                            <div class="mb-2">
                                <label for="search-location" class="visually-hidden">Search station</label>
                                <div class="form-search">
                                    <input type="text" class="form-control ps-5" id="search-location" placeholder="Search by station name, retailer">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl col-lg-4 col-12">
                            <div class="mb-2">
                                <label for="filter" class="visually-hidden">Filter</label>
                                <select id="filter" class="form-select form-select-white form-control">
                                    <option value="0">Filter by metro station</option>
                                    <option value="1">Al Qassar</option>
                                    <option value="2">Umm Ghuwalina</option>
                                    <option value="3">DECC</option>
                                    <option value="4">Corniche</option>
                                    <option value="5">Al Bidda</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-auto">
                            <a  class="link">CLEAR FILTERS</a>
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>

        <div class="metro-table table-responsive">
            <table class="table">
                <thead>
                    <th>Station Name</th>
                    <th>Selected Retailer</th>
                    <th>Retail Shop Contact</th>
                    <th class="width-3">Operational Hours</th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="d-flex align-items-center">
                                <figure class="mb-0 me-2 flex-shrink-0">
                                    <img src="assets/images/icons/metro-red-signal.svg" class="img-fluid w-18"
                                        alt="metro red signal" />
                                </figure>
                                <span class="text-white">Al Qassar</span>
                            </div>
                        </td>
                        <td><span class="text-white">Sidra (Woqod)</span></td>
                        <td><span class="text-white">40218590</span></td>
                        <td><span class="text-white">Saturday to Thursday : 06:00 AM to 10:00 PM <br>
                            Friday : 02:00 PM to 10:00 PM</span></td>
                    </tr>
                    <tr class="border-bottom table-row-bg">
                        <td rowspan="4" scope="row">
                            <div class="d-flex align-items-center">
                                <figure class="mb-0 me-2">
                                    <img src="assets/images/icons/metro-red-signal.svg" class="img-fluid w-18"
                                        alt="metro red signal" />
                                </figure>
                                <span class="text-white">DECC</span>
                            </div>
                        </td>
                        <td scope="row"><span class="text-white">Al Meera (Maar)</span></td>
                        <td><span class="text-white">44505725y</span></td>
                        <td><span class="text-white">Saturday to Thursday: 06:30 AM to 11:00 PM <br>
                            Friday : 02:00 PM to 11:00 PM</span></td>
                    </tr>
                    <tr class="border-bottom  table-row-bg">
                        <td scope="row"><span class="text-white">The Bay Café</span></td>
                        <td><span class="text-white">77117258</span></td>
                        <td><span class="text-white">Saturday to Thursday: 06:30 AM to 11:00 PM <br>
                            Friday : 02:00 PM to 11:00 PM</span></td>
                    </tr>
                    <tr class="border-bottom table-row-bg">
                        <td scope="row"><span class="text-white">The Bay Café</span></td>
                        <td><span class="text-white">77117258</span></td>
                        <td><span class="text-white">Saturday to Thursday: 06:30 AM to 11:00 PM <br>
                            Friday : 02:00 PM to 11:00 PM</span></td>
                    </tr>
                    <tr class="table-row-bg">
                        <td scope="row"><span class="text-white">Al Meera (Maar)</span></td>
                        <td><span class="text-white">44505725y</span></td>
                        <td><span class="text-white">Saturday to Thursday: 06:30 AM to 11:00 PM <br>
                            Friday : 02:00 PM to 11:00 PM</span></td>
                    </tr>
                    
                    <tr>
                        <td>
                            <div class="d-flex align-items-center">
                                <figure class="mb-0 me-2 flex-shrink-0">
                                    <img src="assets/images/icons/metro-red-signal.svg" class="img-fluid w-18"
                                        alt="metro red signal" />
                                </figure>
                                <span class="text-white">Al Qassar</span>
                            </div>
                        </td>
                        <td><span class="text-white">Sidra (Woqod)</span></td>
                        <td><span class="text-white">40218590</span></td>
                        <td><span class="text-white">Saturday to Thursday : 06:00 AM to 10:00 PM <br>
                            Friday : 02:00 PM to 10:00 PM</span></td>
                    </tr>
                    
                    <tr class="table-row-bg">
                        <td>
                            <div class="d-flex align-items-center">
                                <figure class="mb-0 me-2 flex-shrink-0">
                                    <img src="assets/images/icons/metro-red-signal.svg" class="img-fluid w-18"
                                        alt="metro red signal" />
                                </figure>
                                <span class="text-white">DECC</span>
                            </div>
                        </td>
                        <td><span class="text-white">Sidra (Woqod)</span></td>
                        <td><span class="text-white">40218590</span></td>
                        <td><span class="text-white">Saturday to Thursday : 06:00 AM to 10:00 PM <br>
                            Friday : 02:00 PM to 10:00 PM</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
</div>