<div class="container-lg">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item"><a routerLink="/login">Log in</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a routerLink="/create-new-password">Reset password</a></li>
        </ol>
    </nav>
</div>

<div class="container-lg ">
<div class="position-relative">
<a routerLink="/login" role="button" type="button" class="btn back-btn position-absolute"></a>
</div>
    <div class="grey-box mb-5 py-4 py-lg-5">
        <div class="row min-height1 justify-content-center align-items-center">
            <div class="col col-md-6 col-lg-6 col-xl-4">
                <h1 class="f25 text-yellow1 text-center">Create new password</h1>
                <p class="text-center">Your new password must be different From previous
                    used password</p>
                <form [formGroup]="formData" (ngSubmit)="handleSubmit()" class="text-white mt-4 pt-1">
                   
                    <div class="mb-4">
                        <label for="email" class="form-label">Email Address </label>
                        <input type="text" disabled class="form-control" value="rachel@applab.qa" id="email" aria-describedby="Email Address "
                            placeholder="Email Address ">
                    </div>
                    @for (item of inputData; track $index) {
                        @switch (item.type) {
                            @case ("text") {
                                <div class="mb-4">
                                    <label for="t-password" class="form-label">{{item.label}}</label>
                                    <input formControlName={{item.key}} type="text" class="form-control" [class.is-invalid]="errorObj[item.key]" id="t-password" aria-describedby="Temporary password"
                                        placeholder="Temporary password">
                                        @if (errorObj[item.key] != "") {
                                            <div id="validationServer03Feedback" class="invalid-feedback">
                                                {{errorObj[item.key]}}
                                            </div>
                                        }
                                </div>

                            }
                            @case ("password") {
                                <div class="mb-4">
                                    <label for="n-password" class="form-label">{{item.label}}</label>
                                    <div class="position-relative">
                                        <input formControlName={{item.key}} type="text" class="form-control" [class.is-invalid]="errorObj[item.key]"  id="n-password" aria-describedby="New Password"
                                            placeholder={{item.placeholder}}>
                                        <button type="button" class="btn btn-secondary btn-sm show-btn">Show</button>
                                    </div>
                                    @if (errorObj[item.key] != "") {
                                        <div id="validationServer03Feedback" class="invalid-feedback">
                                            {{errorObj[item.key]}}
                                        </div>
                                    }
                                </div>
                            }
                        }
                    }
                    <!-- <div class="mb-4">
                        <label for="t-password" class="form-label">Temporary Password</label>
                        <input type="text" class="form-control" id="t-password" aria-describedby="Temporary password"
                            placeholder="Temporary password">
                    </div> -->
                    <!-- <div class="mb-4">
                        <label for="n-password" class="form-label">New Password</label>
                        <div class="position-relative">
                            <input type="text" class="form-control" id="n-password" aria-describedby="New Password"
                                placeholder="New Password">
                            <button type="button" class="btn btn-secondary btn-sm show-btn">Show</button>
                        </div>
                    </div> -->
                    <!-- <div class="mb-4">
                        <label for="c-password" class="form-label">Confirm New Password</label>
                        <div class="position-relative">
                            <input type="text" class="form-control" id="c-password" aria-describedby="Confirm New Password"
                                placeholder="Confirm New Password">
                            <button type="button" class="btn btn-secondary btn-sm show-btn">Show</button>
                        </div>
                    </div> -->
                    <button class="btn btn-primary w-100">Reset Password</button>
                </form>
            </div>
        </div>
    </div>
</div>
