<div class="container-lg">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a routerLink="/metro-express">Metroexpress</a></li>
        </ol>
    </nav>
</div>

<div class="container-lg">
    <div class="grey-box mb-4">
        <h2 class="f25 text-white mb-3">Metroexpress</h2>
        <h3 class="f16 text-yellow2">Sub title</h3>
        <p>metroexpress is a complementary pilot ride-sharing feeder service that connect specific service zones around Metro stations. The service uses a fleet of branded Mercedes Vito vans, seating 7 passengers per vehicle. However, seating is currently restricted to 3 passengers per ride, due to COVID precautions.
        </p>
        <p>This service offers greater flexibility and convenience than a conventional bus service as customers can request metroexpress on-demand. Metroexpress service is exclusive for registered Metro passengers and can only be used in conjunction with a metro journey. Customers can book a ride through the metroexpre</p>
        <div class="d-flex align-items-center mb-3">
            <a href="#" class="me-3">
                <figure>
                    <img src="assets/images/app-store.png" class="img-fluid" alt="app store" />
                </figure>
            </a>
            <a href="#">
                <figure>
                    <img src="assets/images/google-play.png" class="img-fluid" alt="google play" />
                </figure>
            </a>
        </div>
        <figure>
            <img src="assets/images/metroexpress.png" alt="metroexpress" class="img-fluid rounded " />
        </figure>
        <p>Click here for <a href="#" class="text-yellow1 link-text">terms and conditions</a> <br>
            Metroexpress now serves a total of six Metro stations on the red line, from West Bay QIC to Qatar University serving adjoining areas and important landmarks as below.</p>
        <h3 class="f16 text-yellow2 mb-3">Service Areas</h3>

        <div class="metro-table table-responsive">
            <table class="table">
                <thead>
                    <td class="width-1">Metro Station</td>
                    <td>Area(s) Served</td>
                </thead>    
                <tbody>
                    <tr>
                        <td><span class="text-white">West Bay QIC & DECC</span></td>
                        <td><span class="text-white">Onaiza 63 & 65, Al Dafna 60&61, Al Jazi Gardens, Ministry of Transport and Communications, Sheraton Park, Corniche, Ashghal, Qatar Financial Center, New Onaiza Park, The Lebanese School, Qatar International School, Lycée Bonaparte, Indian Embassy</span></td>
                    </tr>
                    <tr class="table-row-bg">
                        <td><span class="text-white">Al Qassar</span></td>
                        <td><span class="text-white">Al Gassar 61 & Onazia 66, St. Regis, Intercontinental Doha, Ministry of Foreign Affairs, Various Embassies (British, Turkish etc.)</span></td>
                    </tr>
                    <tr>
                        <td><span class="text-white">Katara</span></td>
                        <td><span class="text-white">Al Gassar 66 & Legtaifiya, West Bay Lagoon, Doha Golf Club,The International School of Choueifat, Newton International School, Katara Cultural Village</span></td>
                    </tr>
                    <tr class="table-row-bg">
                        <td><span class="text-white">Legtaifya</span></td>
                        <td><span class="text-white">West Bay Lagoon, Doha Golf Club, Lusail Marina District. (The Pearl Qatar, Lagoona Mall, Ritz Carlton, Mondrian Doha, Grand Hyatt)<small class="route-status">New</small></span></td>
                    </tr>
                    <tr>
                        <td><span class="text-white">Qatar University</span></td>
                        <td><span class="text-white">West Bay Lagoon, Doha Golf Club</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p>The service operates during the following timings: <br>
            Saturday to Wednesday from 05:45 to 23:00 <br>
            Thursday from 05:45 to 23:59 <br>
            Friday from 14:00 to 23:59.</p>
    </div>
</div>