<div class="container-lg">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a routerLink="/change-password">Change password</a></li>
        </ol>
    </nav>
</div>

<div class="container-lg">
    <div class="grey-box mb-5 py-4 py-lg-5">
        <div class="row min-height1 justify-content-center align-items-center">
            <div class="col col-md-6 col-lg-6 col-xl-4 text-center">
                <figure class="gif-image">
                    <img src="assets/images/success-gif.gif" alt="success" class="img-fluid" />
                </figure>
                <h1 class="f25 text-yellow1 text-center">Password changed successfully</h1>
                <p class="text-center">Your new password must be different from previous used password</p>
                <button class="btn btn-primary" routerLink="/login">Log in</button>
            </div>
        </div>
    </div>
</div>